<div class="buttons-wrapper">
    <button (click)="addShape()">Добавить объект</button>
    <button (click)="removeShape()">Удалить активный объект</button>
</div>
<svg id="tree-canvas" class="tree-canvas">
     

    <tree-shape *ngFor="let shape of shapes" 
        [id]="shape.id" 
        [x]="shape.x" 
        [y]="shape.y" 
        [width]="shape.width" 
        [height]="shape.height" 
        [selected]="shape.selected"
        (select) = "shapeSelectHandler($event)"
        (move) = "shapeMoveHandler($event)"
    ></tree-shape>

    <tree-link *ngFor="let link of links" 
        [shapeFrom]="getShape(link.shapeFromId)"
        [shapeTo]="getShape(link.shapeToId)"
    ></tree-link>
   
</svg>