<div class="buttons-wrapper">
    <button (click)="addShape()">Добавить объект</button>
    <button (click)="removeShape()">Удалить выделенный объект</button>
    <input #linkIdFrom type="text" placeholder="id From">
    <input #linkIdTo type="text" placeholder="id To">
    <button (click)="addLink(linkIdFrom.value, linkIdTo.value)">Добавить связь</button>
    <button (click)="removeLink()">Удалить выделенную связь</button>
</div>
<svg id="tree-canvas" class="tree-canvas">
    <tree-shape *ngFor="let shape of shapes" 
        [id]="shape.id" 
        [x]="shape.x" 
        [y]="shape.y" 
        [width]="shape.width" 
        [height]="shape.height" 
        [selected]="shape.selected"
        (select) = "shapeSelectHandler($event)"
        (move) = "shapeMoveHandler($event)">
    </tree-shape>
    <tree-link *ngFor="let link of links" 
        [id]="link.id"
        [shapeFrom]="getShape(link.shapeFromId)"
        [shapeTo]="getShape(link.shapeToId)"
        (select) = "linkSelectHandler($event)"
        [selected]="link.selected">
    </tree-link>
</svg>