<div class="tree-canvas__wrapper">
    <div class="tree-canvas__left">
        <div class="tree-canvas__left-top">
            left top
        </div>
        <div class="tree-canvas__left-bottom">
            left bottom
        </div>
    </div>
    <div class="tree-canvas__right">
        <svg id="tree-canvas" class="tree-canvas">
    <tree-toolbox (create) = "shapeCreateHandler($event)" (delete) = "shapeDeleteHandler()"></tree-toolbox>
    <tree-shape *ngFor="let shape of shapes" 
        [id]="shape.id" 
        [type]="shape.type"
        [x]="shape.x" 
        [y]="shape.y" 
        [width]="shape.width" 
        [height]="shape.height" 
        [selected]="shape.selected"
        (select) = "shapeSelectHandler($event)"
        (move) = "shapeMoveHandler($event)">
    </tree-shape>
    <tree-link *ngFor="let link of links" 
        [id]="link.id"
        [shapeFrom]="getShape(link.shapeFromId)"
        [shapeTo]="getShape(link.shapeToId)"
        (select) = "linkSelectHandler($event)"
        [selected]="link.selected">
    </tree-link>
</svg>
    </div>
</div>